<div class="container">
    <div class="header">
        <nav>
            <img src="../../../../../assets/images/Hala financing 1.svg" alt="">
            <div class="links">
                <a id="merchants" routerLink="../merchant" routerLinkActive="active"> {{ 'nav.merchant' | translate }}
                </a>
                <p>|</p>
                <a id="investors" routerLink="../investors" routerLinkActive="active">{{ 'nav.investor' | translate
                    }}</a>
            </div>
            <app-translate></app-translate>
        </nav>
    </div>
    <div class="content">
        <div class="banner">
            <div class="texts">
                <h2>{{ 'contactus.bannerHead' | translate }}</h2>
            </div>
            <div class="image">
                <img src="../../../../../assets/images/banner.svg" alt="">
            </div>
        </div>

        <div class="contactus">
            <div class="subcontent">
                <div class="heads">
                    <h2>Contact us?</h2>
                    <p>Have a question, complaint, or a suggestion? We'll be happy to hear you!</p>
                </div>
                <div class="waystocontact">
                    <div class="contacts">

                        <div class="card1">
                            <div class="cardcontents">
                                <img src="../../../../../assets/images/contact-phone.svg" alt="">
                                <div class="details">
                                    <h2>
                                        {{ 'contactus.callus' | translate }}
                                    </h2>
                                    <p>
                                        {{'contactus.phoneno' | translate}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card2">
                            <div class="cardcontents">
                                <img src="../../../../../assets/images/contact-hala.svg" alt="">
                                <div class="details">
                                    <h2>
                                        {{ 'contactus.phoneno' | translate}}
                                    </h2>
                                    <p>
                                        {{'contactus.viachat' | translate}} </p>
                                </div>
                            </div>
                        </div>
                        <div class="card3">
                            <div class="cardcontents">
                                <img src="../../../../../assets/images/contact-fb.svg" alt="">
                                <div class="details">
                                    <h2>
                                        {{'contactus.fb' | translate }} </h2>
                                    <p>
                                        {{'contactus.fbchatj' | translate}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contacts">
                        <div class="card1">
                            <div class="cardcontents">
                                <img src="../../../../../assets/images/contact-email.svg" alt="">
                                <div class="details">
                                    <h2>
                                        {{'contactus.ccare' | translate}}
                                    </h2>
                                    <p>
                                        {{'contactus.email' | translate}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card2">
                            <div class="cardcontents">
                                <img src="../../../../../assets/images/contact-twitter.svg" alt="">
                                <div class="details">
                                    <h2>
                                        {{'contactus.twitter' | translate}}
                                    </h2>
                                    <p>
                                        {{'contactus.userid'}} </p>
                                </div>
                            </div>
                        </div>
                        <div class="card3">
                            <div class="cardcontents">
                                <img src="../../../../../assets/images/contact-insta.svg" alt="">
                                <div class="details">
                                    <h2>
                                        {{'contactus.insta' | translate}} </h2>
                                    <p>
                                        {{'contactus.name' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <img src="../../../../../assets/images/Hala financing 1.svg" alt="">
            <div class="details">
                <div class="one">
                    <p>Hala is a leading lending company that provides flexible and affordable loan options to meet the
                        needs businesses.</p>
                </div>
                <div class="two">
                    <h2>Title</h2>
                    <a routerLink="../cosumerprot">Consumer Protection Principles</a>
                    <a routerLink="../inverelations">Investor Relation</a>
                </div>
                <div class="three">
                    <h2>Hala Financing</h2>
                    <a routerLink="../contactus">Contact us</a>
                </div>
                <div class="followus">
                    <a>Follow Us</a>
                    <div class="sociallogos">
                    </div>
                </div>
            </div>
            <div class="copyright">
                <h3>Copyright 2022 Hala. All rights reserved.</h3>
                <h3>Terms & Condition ( Merchants Privacy )</h3>
            </div>
        </div>
    </div>
</div>