<div class="container">
    <div class="header">
        <nav>
            <img src="../../../../../assets/images/Hala financing 1.svg" alt="">
            <div class="links">
                <a id="merchants" routerLink="../merchant" routerLinkActive="active"> {{ 'nav.merchant' | translate }}
                </a>
                <p>|</p>
                <a id="investors" routerLink="../investors" routerLinkActive="active">{{ 'nav.investor' | translate
                    }}</a>
            </div>
            <app-translate></app-translate>
        </nav>
    </div>
    <div class="content">
        <div class="main">
            <div class="principles">
                <h2>Consumer Protection Principles</h2>
                <div class="file">
                    <div class="file-detail">
                        <img src="../../../../../assets/images/file-icon.svg" alt="">
                        <h3>
                            Consumer Protection Principles
                        </h3>
                        <p>
                            file size: 48 MB
                        </p>
                    </div>
                    <span><img src="../../../../../assets/images/donwload-principles.svg" alt=""></span>
                </div>
            </div>
        </div>
        <div class="footer">
            <img src="../../../../../assets/images/Hala financing 1.svg" alt="">
            <div class="details">
                <div class="one">
                    <p>Hala is a leading lending company that provides flexible and affordable loan options to meet the
                        needs businesses.</p>
                </div>
                <div class="two">
                    <h2>Title</h2>
                    <a routerLink="../cosumerprot">Consumer Protection Principles</a>
                    <a routerLink="../inverelations">Investor Relation</a>
                </div>
                <div class="three">
                    <h2>Hala Financing</h2>
                    <a routerLink="../contactus">Contact us</a>
                </div>
                <div class="followus">
                    <a>Follow Us</a>
                    <div class="sociallogos">
                    </div>
                </div>
            </div>
            <div class="copyright">
                <h3>Copyright 2022 Hala. All rights reserved.</h3>
                <h3>Terms & Condition ( Merchants Privacy )</h3>
            </div>
        </div>
    </div>
</div>