<div class="container">
    <div class="header">
        <nav>
            <img src="../../../../../assets/images/Hala financing 1.svg" alt="">
            <div class="links">
                <a id="merchants" routerLink="../merchant" routerLinkActive="active"> {{ 'nav.merchant' | translate }}
                </a>
                <p>|</p>
                <a id="investors" routerLink="../investors" routerLinkActive="active">{{ 'nav.investor' | translate
                    }}</a>
            </div>
            <app-translate></app-translate>
        </nav>
    </div>
    <div class="content">
        <div class="banner">
            <!-- <div class="texts">
                <h2>{{ 'relations.bannerHead' | translate }}</h2>
            </div>
            <div class="image">
                <img src="../../../../../assets/images/banner.svg" alt="">
            </div> -->
            <div class="finstates">
                <div class="subcontent">
                    <div class="heads">
                        <h2>{{ 'relations.head' | translate }}</h2>
                    </div>
                    <div class="waystocontact">
                        <div class="contacts">
                            <div class="card1">
                                <div class="cardcontents">
                                    <img src="../../../../../assets/images/file-icon-invrelation.svg" alt="">
                                    <div class="details">
                                        <h2>
                                            {{ 'relations.audit' | translate }}
                                        </h2>
                                    </div>
                                    <div class="download">
                                        <p>
                                            {{'relations.filesize' | translate}}
                                        </p>
                                        <img src="../../../../../assets/images/file_download1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="card2">
                                <div class="cardcontents">
                                    <img src="../../../../../assets/images/file-icon-invrelation.svg" alt="">
                                    <div class="details">
                                        <h2>
                                            {{ 'relations.audit' | translate}}
                                        </h2>
                                    </div>
                                    <div class="download">
                                        <p>
                                            {{'relations.filesize' | translate}}
                                        </p>
                                        <img src="../../../../../assets/images/file_download1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="card3">
                                <div class="cardcontents">
                                    <img src="../../../../../assets/images/file-icon-invrelation.svg" alt="">
                                    <div class="details">
                                        <h2>
                                            {{'relations.audit' | translate }} </h2>
                                    </div>
                                    <div class="download">
                                        <p>
                                            {{'relations.filesize' | translate}}
                                        </p>
                                        <img src="../../../../../assets/images/file_download1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contacts">
                            <div class="card1">
                                <div class="cardcontents">
                                    <img src="../../../../../assets/images/file-icon-invrelation.svg" alt="">
                                    <div class="details">
                                        <h2>
                                            {{'relations.audit' | translate}}
                                        </h2>
                                    </div>
                                    <div class="download">
                                        <p>
                                            {{'relations.filesize' | translate}}
                                        </p>
                                        <img src="../../../../../assets/images/file_download1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="card2">
                                <div class="cardcontents">
                                    <img src="../../../../../assets/images/file-icon-invrelation.svg" alt="">
                                    <div class="details">
                                        <h2>
                                            {{'relations.audit' | translate}}
                                        </h2>
                                    </div>
                                    <div class="download">
                                        <p>
                                            {{'relations.filesize' | translate}}
                                        </p>
                                        <img src="../../../../../assets/images/file_download1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="card3">
                                <div class="cardcontents">
                                    <img src="../../../../../assets/images/file-icon-invrelation.svg" alt="">
                                    <div class="details">
                                        <h2>
                                            {{'relations.audit' | translate}} </h2>
                                    </div>
                                    <div class="download">
                                        <p>
                                            {{'relations.filesize' | translate}}
                                        </p>
                                        <img src="../../../../../assets/images/file_download1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="showmore">
                    <h3>Show More</h3>
                    <img src="../../../../../assets/images/arrow_down.svg" alt="">
                </div>
            </div>
        </div>

        <div class="relations">
            <div class="subcontent">
                <div class="heads">
                    <h2>{{ 'relations.BOD' | translate }}</h2>
                </div>
                <div class="waystocontact">
                    <div class="contacts">

                        <div class="card1">
                            <div class="cardcontents">
                                <img src="../../../../../assets/images/file-icon-invrelation.svg" alt="">
                                <div class="details">
                                    <h2>
                                        {{ 'relations.bodreports' | translate }}
                                    </h2>
                                </div>
                                <div class="download">
                                    <p>
                                        {{'relations.filesize' | translate}}
                                    </p>
                                    <img src="../../../../../assets/images/file_download1.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card2">
                            <div class="cardcontents">
                                <img src="../../../../../assets/images/file-icon-invrelation.svg" alt="">
                                <div class="details">
                                    <h2>
                                        {{ 'relations.bodreports' | translate}}
                                    </h2>
                                </div>
                                <div class="download">
                                    <p>
                                        {{'relations.filesize' | translate}}
                                    </p>
                                    <img src="../../../../../assets/images/file_download1.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card3">
                            <div class="cardcontents">
                                <img src="../../../../../assets/images/file-icon-invrelation.svg" alt="">
                                <div class="details">
                                    <h2>
                                        {{'relations.bodreports' | translate }} </h2>
                                </div>
                                <div class="download">
                                    <p>
                                        {{'relations.filesize' | translate}}
                                    </p>
                                    <img src="../../../../../assets/images/file_download1.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contacts">
                        <div class="card1">
                            <div class="cardcontents">
                                <img src="../../../../../assets/images/file-icon-invrelation.svg" alt="">
                                <div class="details">
                                    <h2>
                                        {{'relations.bodreports' | translate}}
                                    </h2>
                                </div>
                                <div class="download">
                                    <p>
                                        {{'relations.filesize' | translate}}
                                    </p>
                                    <img src="../../../../../assets/images/file_download1.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card2">
                            <div class="cardcontents">
                                <img src="../../../../../assets/images/file-icon-invrelation.svg" alt="">
                                <div class="details">
                                    <h2>
                                        {{'relations.bodreports' | translate}}
                                    </h2>
                                </div>
                                <div class="download">
                                    <p>
                                        {{'relations.filesize' | translate}}
                                    </p>
                                    <img src="../../../../../assets/images/file_download1.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card3">
                            <div class="cardcontents">
                                <img src="../../../../../assets/images/file-icon-invrelation.svg" alt="">
                                <div class="details">
                                    <h2>
                                        {{'relations.bodreports' | translate}} </h2>
                                </div>
                                <div class="download">
                                    <p>
                                        {{'relations.filesize' | translate}}
                                    </p>
                                    <img src="../../../../../assets/images/file_download1.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="showmore">
                <h3>Show More</h3>
                <img src="../../../../../assets/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="footer">
            <img src="../../../../../assets/images/Hala financing 1.svg" alt="">
            <div class="details">
                <div class="one">
                    <p>Hala is a leading lending company that provides flexible and affordable loan options to meet the
                        needs businesses.</p>
                </div>
                <div class="two">
                    <h2>Title</h2>
                    <a routerLink="../cosumerprot">Consumer Protection Principles</a>
                    <a routerLink="../inverelations">Investor Relation</a>
                </div>
                <div class="three">
                    <h2>Hala Financing</h2>
                    <a routerLink="../contactus">Contact us</a>
                </div>
                <div class="followus">
                    <a>Follow Us</a>
                    <div class="sociallogos">
                    </div>
                </div>
            </div>
            <div class="copyright">
                <h3>Copyright 2022 Hala. All rights reserved.</h3>
                <h3>Terms & Condition ( Merchants Privacy )</h3>
            </div>
        </div>
    </div>
</div>