@import '../../styles/details.scss';
@import '../../../../basic-components/footer/footer.component.scss';
// @import '../../styles/merchant-footer.scss';
@import '../../styles/merchant-header.scss';
@import '../../styles/merchant-banner.scss';
@import '../../styles/merchant-faqs.scss';
@import '../../styles/why-hala-fin-merchant.scss';
@import '../../styles/merchant-get-approved.scss';
@import '../../styles/calc.scss';

$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $breakpoint-md) {
        width: 100%;
        overflow-x: hidden;
    }

    @media screen and (max-width: $breakpoint-sm) {
        overflow-x: hidden;
        overflow-y: hidden;
        width: 102%;
        margin-left: -8px;
    }

    .content {
        flex-shrink: 1;
        flex-grow: 1;
        padding: 3px 5px;
        position: relative;

        // overflow-y: auto;
        @media screen and (max-width: $breakpoint-lg) {
            overflow-x: hidden;
            height: 100%;
        }

        @media screen and (max-width: $breakpoint-md) {
            overflow-x: hidden;
            width: 100%;
        }

        //==================================================//

        #amount::placeholder {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 24px;
            width: 325px;
            height: 18px;
        }

        ::ng-deep .mdc-text-field--outlined {
            padding: 10px 12px;
            // gap: 10px;
            align-items: center;
            width: 411px;
            height: 52px !important;
            background: #FFFFFF;
            border: 1px solid transparent;
            border-radius: 8px;

            .mdc-notched-outline {
                display: flex;
                position: absolute;
                top: 5px;
                right: 0;
                left: 0;
                box-sizing: border-box;
                width: 99%;
                max-width: 99%;
                height: 82%;
                text-align: left;
                /* opacity: 0; */
                pointer-events: none;
            }

            @media screen and (max-width: $breakpoint-md) {
                width: 175%;
            }

            @media screen and (max-width: $breakpoint-sm) {
                width: 80%;
            }

        }
    }
}