<div class="result">
    <h3>You are eligible for: </h3>
    <div class="monthsdata">
        <div class="eachmonth">
            <h2>12<span>Months</span></h2>
            <h3>200,000 <span>SAR</span></h3>
        </div>
        <div class="eachmonth">
            <h2>24<span>Months</span></h2>
            <h3>400,000 <span>SAR</span></h3>
        </div>
        <div class="eachmonth">
            <h2>36<span>Months</span></h2>
            <h3>600,000 <span>SAR</span></h3>
        </div>
    </div>
    <p>*Please note that this amount is approximate and might change according to the credit examination of each
        application</p>
</div>