<div class="container">
    <div class="header">
        <nav>
            <img src="../../../../../assets/images/Hala financing 1.svg" alt="">
            <div class="links">
                <a id="merchants" routerLink="../merchant" routerLinkActive="active">{{ 'nav.merchant' | translate
                    }}</a>
                <p>|</p>
                <a id="investors" routerLink="../investors" routerLinkActive="active">{{ 'nav.investor' | translate
                    }}</a>
            </div>
            <app-translate></app-translate>
        </nav>
    </div>
    <div class="content">
        <div class="banner">
            <div class="texts">
                <h2>{{'for-investors.bannerhead' | translate}}</h2>
                <p>{{'for-investors.bannerdetail' | translate}}
                </p>
            </div>
            <div class="image">
                <img src="../../../../../assets/images/bannerindivisual.svg" alt="">
            </div>
        </div>

        <div class="mainwhy">
            <div class="heads">
                <h2>Why Hala Financing?</h2>
                <p>Smartly. Conveniently. Efficiently</p>
            </div>
            <div class="whyhalafin">
                <div class="reasonswhy">
                    <div class="firstreason">
                        <div class="card1">
                            <img src="../../../../../assets/images/why.svg" alt="">
                            <div class="details">
                                <h2>
                                    Customizable Financing Offers
                                </h2>
                                <p>
                                    Customize your final financing offer, adjust the amount and tenure till it meet your
                                    goal.
                                </p>
                            </div>
                        </div>
                        <div class="card1">
                            <img src="../../../../../assets/images/why.svg" alt="">
                            <div class="details">
                                <h2>
                                    Customizable Financing Offers
                                </h2>
                                <p>
                                    Customize your final financing offer, adjust the amount and tenure till it meet your
                                    goal.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="image">

                        <img src="../../../../../assets/images/iPhone 13 Pro Max 1.svg" alt="">
                    </div>
                    <div class="secondreason">

                        <div class="card2">
                            <img src="../../../../../assets/images/why.svg" alt="">
                            <div class="details">
                                <h2>
                                    Flexible Repayment Plans
                                </h2>
                                <p>
                                    Select the length of the repayment term that work best for your budget. </p>
                            </div>
                        </div>
                        <div class="card3">
                            <img src="../../../../../assets/images/why.svg" alt="">
                            <div class="details">
                                <h2>
                                    Instant Approval </h2>
                                <p>
                                    Access your financing quickly, based on your credit history and other relevant
                                    factors.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="faqs">
            <h2>FAQ's</h2>
            <div class="faqsdetails">
                <div class="card1">
                    <div class="details">
                        <div class="question">
                            <h3>
                                Is there a minimum investment amount?
                            </h3>
                            <img src="../../../../../assets/images/expandbtn.svg" alt="">
                        </div>
                        <p>
                            The minimum investment amount varies depending on the project. Some projects may have a
                            minimum investment amount of $10, while others may have a higher minimum investment amount.
                        </p>
                    </div>
                </div>
                <div class="card2">
                    <div class="details">

                        <div class="question">
                            <h3>
                                How do I know if a project is legitimate?
                            </h3>
                            <img src="../../../../../assets/images/collapsbtn.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="card3">
                    <div class="details">

                        <div class="question">
                            <h3>
                                How do I make an investment?
                            </h3>
                            <img src="../../../../../assets/images/collapsbtn.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="card4">
                    <div class="details">
                        <div class="question">
                            <h3>
                                How do I withdraw my funds?
                            </h3>
                            <img src="../../../../../assets/images/collapsbtn.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-scorll></app-scorll>
        <div class="footer">
            <img src="../../../../../assets/images/Hala financing 1.svg" alt="">
            <div class="details">
                <div class="one">
                    <p>Hala is a leading lending company that provides flexible and affordable loan options to meet the
                        needs businesses.</p>
                </div>
                <div class="two">
                    <h2>Title</h2>
                    <a routerLink="../cosumerprot">Consumer Protection Principles</a>
                    <a routerLink="../inverelations">Investor Relation</a>
                </div>
                <div class="three">
                    <h2>Hala Financing</h2>
                    <a routerLink="../contactus">Contact us</a>
                </div>
                <div class="followus">
                    <a>Follow Us</a>
                    <div class="sociallogos">

                    </div>

                </div>
            </div>
            <div class="copyright">
                <h3>Copyright 2022 Hala. All rights reserved.</h3>
                <h3>Terms & Condition ( Merchants Privacy )</h3>
            </div>
        </div>
    </div>
</div>